@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: rgb(var(--foreground-rgb));
  /* background-image: radial-gradient(#7a7777, #090808); */
  background : #090808 
  
  
}
.element {
  background: radial-gradient(#1b1b1b 0%, #090808  );
}